<div
  class="h-[calc(100vh-14rem)] flex flex-col flex-1 overflow-y-auto mb-4 p-4 border rounded-lg"
>
  @for (message of messages(); track message) {
    <app-chat-message [message]="message" />
  }
  @if (streamingAssistantContent() && chatService.status()) {
    <app-chat-message
      [message]="{
        role: 'assistant',
        content: streamingAssistantContent(),
      }"
    />
  }
</div>

<app-chat-input
  [form]="form"
  [isStreaming]="chatService.status()"
  (send)="handleSendMessage($event)"
  (reset)="resetChat()"
/>
