<app-admin-table
  [data]="paginatedItems()"
  [columns]="getColumns()"
  [pagination]="{
    currentPage: currentPage(),
    totalPages: totalPages(),
    itemsPerPage: itemsPerPage(),
  }"
  [hasColumnFilters]="true"
  [columnFilters]="columnFilters()"
  (pageChange)="setPage($event)"
  (sortChange)="onColumnSort($event)"
  (filterChange)="updateFilter($event)"
  modelTitle="Schools"
>
  <ng-template #actions let-item>
    <!-- <button
    (click)="$event.stopPropagation(); openEditDialog(item)"
    class="text-blue-600 hover:text-blue-900 mr-4"
    title="Edit"
  >
    Edit
  </button>
  <button
    (click)="$event.stopPropagation(); deleteItem(item)"
    class="text-red-600 hover:text-red-900"
    title="Delete"
  >
    Delete
  </button> -->
  </ng-template>
</app-admin-table>
