<div class="relative w-full max-w-lg mx-auto bg-white rounded-xl shadow-lg overflow-hidden">
  <!-- Header -->
  <div class="flex justify-between items-center p-3 sm:p-4 border-b border-gray-300">
    <h2 class="text-lg sm:text-xl font-semibold text-gray-900">
      {{ localService.locals().profile }}
    </h2>
    <button (click)="dialogRef.close()" class="text-lg sm:text-xl text-gray-500 hover:text-gray-800">
      <i [class]="'CANCEL' | icon"></i>
    </button>
  </div>

  <!-- Body -->
  <div class="px-4 sm:px-6 py-3 sm:py-4">
    <div class="flex flex-col gap-4 sm:gap-6">
      <div class="flex items-center gap-3 sm:gap-4">
        <div class="w-14 h-14 sm:w-16 sm:h-16 bg-indigo-100 rounded-full flex items-center justify-center">
          <span class="text-xl sm:text-2xl text-indigo-600">
            {{ getName(currentUser) }}
          </span>
        </div>
        <div>
          <h3 class="text-xl sm:text-2xl font-semibold text-gray-800">
            {{ getName(currentUser) }}
          </h3>
          <!-- <p class="text-sm text-gray-600">
            {{ currentUser.email }}
          </p> -->
        </div>
      </div>

      <div class="text-sm text-gray-700">
        <!-- <p class="flex items-center gap-2 sm:gap-4 mb-2">
          <span class="font-medium">{{ localService.locals().role }}: </span>{{ getRoleLocal(currentUser.role) }}
        </p> -->
        <p class="flex items-center gap-2 sm:gap-4">
          <span class="font-medium">{{ localService.locals().status }}: </span>
          <span class="flex items-center gap-2">
            <span class="w-2 h-2 rounded-full" [class.bg-green-500]="currentUser.isActive" [class.bg-red-500]="!currentUser.isActive"></span>
            {{ currentUser.isActive ? localService.locals().active : localService.locals().inactive }}
          </span>
        </p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="p-3 sm:p-4 border-t border-gray-300 flex justify-end gap-4">
    <button
      (click)="toggleLanguage()"
      class="px-4 sm:px-6 py-2 bg-secondary text-white rounded-lg hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-sebg-secondary transition-colors duration-200"
    >
      {{ localService.locals().toggleLanguage }}
    </button>
    <button (click)="logout()" class="px-4 sm:px-6 py-2 bg-secondary text-white rounded-lg hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-sebg-secondary transition-colors duration-200">
      {{ localService.locals().logout }}
    </button>
    <button (click)="dialogRef.close()" class="px-4 sm:px-6 py-2 bg-primary text-white rounded-lg hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-primary transition-colors duration-200">
      {{ localService.locals().close }}
    </button>
  </div>
</div>
