.dropdown-open {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.dropdown-open {
  transition: all 0.2s ease-out;
}

div[ng-reflect-ng-if="false"], // hidden dropdowns
  .dropdown-menu:not(.dropdown-open) {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transition: all 0.2s ease-out;
}
