<div
  class="h-full min-h-screen flex flex-col decorative-pattern dark:bg-dark-bg"
>
  <app-navbar></app-navbar>

  <!-- Main Content -->
  <div class="flex-1 h-full min-h-0 overflow-hidden p-4 sm:p-6">
    <main
      class="overflow-auto h-full max-w-7xl mx-auto bg-white dark:bg-dark-surface rounded-xl shadow-lg dark:shadow-gray-900/30 overflow-auto transition-colors duration-200"
    >
      <div class="p-4 sm:p-6 flex flex-col h-full dark:text-gray-200">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
