@import "@mdi/font/css/materialdesignicons.min.css";
@import "katex/dist/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-white text-gray-900 transition-colors duration-200;
  @apply overflow-hidden;
}

markdown {
  @apply flex flex-col;

  h1,
  h2,
  h3 {
    @apply mt-4;
  }

  ul,
  ol {
    @apply ml-6 pl-4;
  }

  blockquote {
    @apply border-l-4 border-slate-300 pl-4 italic text-chat-assistant-text;
  }

  pre {
    @apply text-chat-user-text p-4 rounded-lg bg-chat-user-bg font-mono max-w-full overflow-x-auto break-words;
  }

  code {
    @apply bg-chat-user-bg  px-1 py-0.5 rounded;
  }
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    @apply w-2;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-full;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full hover:bg-gray-400 transition-colors duration-200;
  }

  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.gray.300") theme("colors.gray.100");
  }

  .dark .scrollbar-custom {
    scrollbar-color: theme("colors.gray.600") theme("colors.gray.800");
  }
}

* {
  @apply scrollbar-custom;
}
